<!-- Main Wrapper -->
<div>

  <!-- Login Banner -->
  <!-- <owl-carousel-o [options]="welcomeLoginOwlOptions">
    @for (slide of welcomeLogin; track slide) {
      <ng-template carouselSlide>
        <img [src]="slide.img" alt="Logo">
        <h2>{{slide.content1}}<br>{{slide.content2}}</h2>
        <p>{{slide.paragraph}}</p>
      </ng-template>
    }
    @empty {
      <p>No slides available.</p>
    }
  </owl-carousel-o> -->
  <!-- /Login Banner -->

  <!-- Login -->
  <!-- <img src="assets/img/logo.svg" alt="Logo"> -->
  <a [routerLink]="routes.home">Back to Home</a>
  <h1>Sign into Your Account</h1>
  <form>
    <label for="email">Email</label>
    <input type="email" placeholder="Enter your email address">

    <label for="password">Password</label>
    <div>
      <input [type]="password" placeholder="Enter your password">
      @if (show) {
      <i (click)="onClick()" (keydown)="onClick()" tabindex="1">Show</i>
      }
      @else {
      <i (click)="onClick()" (keydown)="onClick()" tabindex="1">Hide</i>
      }
    </div>

    <a [routerLink]="routes.forgot_password">Forgot Password?</a>
    <label>
      Remember me
      <input type="checkbox">
    </label>

    <button type="submit" (click)="directIndex()">Sign In</button>
  </form>
  <div>
    <a href="javascript:void(0)">Or sign in with</a>
    <div>
      <ul>
        <li><a href="javascript:void(0)"><img src="assets/img/net-icon-01.png" alt="Logo"> Sign In using Google</a></li>
        <li><a href="javascript:void(0)"><img src="assets/img/net-icon-02.png" alt="Logo">Sign In using Facebook</a>
        </li>
      </ul>
    </div>
    <p>New User? <a [routerLink]="routes.register">Create an Account</a></p>
  </div>
  <!-- /Login -->

</div>