<!-- Login Banner -->
<!-- <owl-carousel-o [options]="forgotPasswordOwlOptions">
  <ng-template carouselSlide *ngFor="let slide of forgotPassword">
    <img [src]="slide.img" alt="Logo">
    <h2>{{slide.content1}}<br>{{slide.content2}}</h2>
    <p>{{slide.paragraph}}</p>
  </ng-template>
</owl-carousel-o> -->
<!-- /Login Banner -->

<!-- Login -->
<!-- <img src="assets/img/logo.svg" alt="Logo"> -->
<a [routerLink]="routes.home">Back to Home</a>
<h1>Forgot Password?</h1>
<p>Enter your email to reset your password.</p>
<form>
  <label for="email">Email</label>
  <input type="email" placeholder="Enter your email address">
  <button type="button" (click)="directLogin()">Submit</button>
</form>
<!-- /Login -->