<h1>Dashboard</h1>

<a [routerLink]="routes.home">Back to Home</a>

<nav>
    <ul>
        <li><a [routerLink]="routes.media_manager">Media Manager</a></li>
        <li><a [routerLink]="routes.media_manager_create">Create Media</a></li>
        <li><a [routerLink]="routes.media_manager_settings">Media Manager Settings</a></li>
        <li><a [routerLink]="routes.users_instructors">Instructors</a></li>
        <li><a [routerLink]="routes.users_instructors_payout">Instructors Payout</a></li>
        <li><a [routerLink]="routes.users_students">Students</a></li>
        <li><a [routerLink]="routes.users_staffs">Staffs</a></li>
        <li><a [routerLink]="routes.users_roles">Roles</a></li>
        <li><a [routerLink]="routes.users_delete_account_requests">Delete Account Requests</a></li>
        <li><a [routerLink]="routes.departments">Departments</a></li>
        <li><a [routerLink]="routes.courses_categories">Course Categories</a></li>
        <li><a [routerLink]="routes.courses_levels">Course Levels</a></li>
        <li><a [routerLink]="routes.courses_settings">Course Settings</a></li>
        <li><a [routerLink]="routes.courses_subjects">Course Subjects</a></li>
        <li><a [routerLink]="routes.quizzes_question_groups">Question Groups</a></li>
        <li><a [routerLink]="routes.quizzes_question_banks">Question Banks</a></li>
        <li><a [routerLink]="routes.quizzes_setups">Quiz Setups</a></li>
        <li><a [routerLink]="routes.quizzes_results">Quiz Results</a></li>
        <li><a [routerLink]="routes.virtual_classes">Virtual Classes</a></li>
        <li><a [routerLink]="routes.zoom_settings">Zoom Settings</a></li>
        <li><a [routerLink]="routes.certificates">Certificates</a></li>
        <li><a [routerLink]="routes.certificates_fonts">Certificate Fonts</a></li>
        <li><a [routerLink]="routes.certificates_settings">Certificate Settings</a></li>
        <li><a [routerLink]="routes.revenue">Revenue</a></li>
        <li><a [routerLink]="routes.revenue_instructors">Instructors Revenue</a></li>
        <li><a [routerLink]="routes.revenue_statistics">Revenue Statistics</a></li>
        <li><a [routerLink]="routes.enrollments">Enrollments</a></li>
        <li><a [routerLink]="routes.enrollments_refund_n_cancellation">Refund and Cancellation</a></li>
        <li><a [routerLink]="routes.enrollments_refund_settings">Refund Settings</a></li>
        <li><a [routerLink]="routes.communication_notifications">Notifications</a></li>
        <li><a [routerLink]="routes.communication_private_messages">Private Messages</a></li>
        <li><a [routerLink]="routes.coupons_manage">Manage Coupons</a></li>
        <li><a [routerLink]="routes.coupons_single">Single Coupons</a></li>
        <li><a [routerLink]="routes.coupons_personalized">Personalized Coupons</a></li>
        <li><a [routerLink]="routes.coupons_invite_code">Invite Code Coupons</a></li>
        <li><a [routerLink]="routes.coupons_invite_settings">Invite Settings</a></li>
        <li><a [routerLink]="routes.payment_online">Online Payment</a></li>
        <li><a [routerLink]="routes.payment_offline">Offline Payment</a></li>
        <li><a [routerLink]="routes.payment_bank">Bank Payment</a></li>
        <li><a [routerLink]="routes.payment_commission">Payment Commission</a></li>
        <li><a [routerLink]="routes.blogs">Blogs</a></li>
        <li><a [routerLink]="routes.blogs_comments">Blog Comments</a></li>
        <li><a [routerLink]="routes.questions">Questions</a></li>
        <li><a [routerLink]="routes.questions_settings">Question Settings</a></li>
        <li><a [routerLink]="routes.cmo_header_menu">Header Menu</a></li>
        <li><a [routerLink]="routes.cmo_menu_settings">Menu Settings</a></li>
        <li><a [routerLink]="routes.cmo_sliders">Sliders</a></li>
        <li><a [routerLink]="routes.cmo_sliders_settings">Slider Settings</a></li>
        <li><a [routerLink]="routes.cmo_page_content">Page Content</a></li>
        <li><a [routerLink]="routes.cmo_testimonials">Testimonials</a></li>
        <li><a [routerLink]="routes.cmo_social_settings">Social Settings</a></li>
        <li><a [routerLink]="routes.cmo_pages">Pages</a></li>
        <li><a [routerLink]="routes.cmo_become_instructor">Become an Instructor</a></li>
        <li><a [routerLink]="routes.cmo_sponsors">Sponsors</a></li>
        <li><a [routerLink]="routes.cmo_popup_content">Popup Content</a></li>
        <li><a [routerLink]="routes.cmo_footer_settings">Footer Settings</a></li>
        <li><a [routerLink]="routes.cmo_login_page">Login Page</a></li>
        <li><a [routerLink]="routes.cmo_faq">FAQ</a></li>
        <li><a [routerLink]="routes.cmo_header_footer_style">Header Footer Style</a></li>
        <li><a [routerLink]="routes.gamification">Gamification</a></li>
        <li><a [routerLink]="routes.gamification_badges">Gamification Badges</a></li>
        <li><a [routerLink]="routes.gamification_history">Gamification History</a></li>
        <li><a [routerLink]="routes.settings_system">System Settings</a></li>
        <li><a [routerLink]="routes.settings_api">API Settings</a></li>
        <li><a [routerLink]="routes.settings_sms">SMS Settings</a></li>
        <li><a [routerLink]="routes.settings_vimeo">Vimeo Settings</a></li>
        <li><a [routerLink]="routes.settings_vdocipher">Vdocipher Settings</a></li>
        <li><a [routerLink]="routes.settings_localization">Localization Settings</a></li>
        <li><a [routerLink]="routes.settings_module_manager">Module Manager</a></li>
        <li><a [routerLink]="routes.settings_sidebar_manager">Sidebar Manager</a></li>
        <li><a [routerLink]="routes.settings_themes">Themes Settings</a></li>
        <li><a [routerLink]="routes.settings_themes_customize">Themes Customize</a></li>
        <li><a [routerLink]="routes.settings_themes_font">Themes Font</a></li>
        <li><a [routerLink]="routes.settings_newsletter">Newsletter Settings</a></li>
        <li><a [routerLink]="routes.settings_newsletter_mailchimp">Mailchimp Settings</a></li>
        <li><a [routerLink]="routes.settings_newsletter_get_response">GetResponse Settings</a></li>
        <li><a [routerLink]="routes.settings_newsletter_acelle">Acelle Settings</a></li>
        <li><a [routerLink]="routes.settings_newsletter_subscriber">Subscriber Settings</a></li>
        <li><a [routerLink]="routes.settings_push_notification">Push Notification Settings</a></li>
        <li><a [routerLink]="routes.settings_utilities">Utilities Settings</a></li>
        <li><a [routerLink]="routes.settings_preloader">Preloader Settings</a></li>
        <li><a [routerLink]="routes.settings_geo_location">Geo Location Settings</a></li>
        <li><a [routerLink]="routes.settings_error_log">Error Log Settings</a></li>
        <li><a [routerLink]="routes.settings_ip_block">IP Block Settings</a></li>
        <li><a [routerLink]="routes.settings_maintenance">Maintenance Settings</a></li>
        <li><a [routerLink]="routes.settings_update_system">Update System Settings</a></li>
        <li><a [routerLink]="routes.settings_city">City Settings</a></li>
        <li><a [routerLink]="routes.settings_cache">Cache Settings</a></li>
        <li><a [routerLink]="routes.settings_queue">Queue Settings</a></li>
        <li><a [routerLink]="routes.settings_cron_job">Cron Job Settings</a></li>
        <li><a [routerLink]="routes.settings_captcha">Captcha Settings</a></li>
        <li><a [routerLink]="routes.settings_social_login">Social Login Settings</a></li>
        <li><a [routerLink]="routes.settings_payout_accounts">Payout Accounts Settings</a></li>
        <li><a [routerLink]="routes.settings_cookie">Cookie Settings</a></li>
        <li><a [routerLink]="routes.settings_analytics">Analytics Settings</a></li>
        <li><a [routerLink]="routes.settings_pusher">Pusher Settings</a></li>
        <li><a [routerLink]="routes.settings_gdrive">Gdrive Settings</a></li>
        <li><a [routerLink]="routes.settings_seo">SEO Settings</a></li>
        <li><a [routerLink]="routes.settings_currencies">Currencies Settings</a></li>
        <li><a [routerLink]="routes.settings_timezone">Timezone Settings</a></li>
        <li><a [routerLink]="routes.settings_activation">Activation Settings</a></li>
        <li><a [routerLink]="routes.settings_general">General Settings</a></li>
        <li><a [routerLink]="routes.settings_email">Email Settings</a></li>
        <li><a [routerLink]="routes.settings_email_template">Email Template Settings</a></li>
        <li><a [routerLink]="routes.settings_payout">Payout Settings</a></li>
        <li><a [routerLink]="routes.settings_backup">Backup Settings</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>